
.header {
  height: 50px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 1000;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.bolt_icon {
  font-size: 50px;
  color: #4e4e4e;
}

.Raleway {
  font-family: 'Raleway', sans-serif;
}

.Lato {
  font-family: 'Lato', sans-serif;
}

.hamburger-menu {
  display:none;
}

.btn {
  font-size: 12px;
  text-decoration: none;
  padding: 14px 20px;
  color: #fff;
  background-color: #74cfae;
  transition:0.3s;
}

.contact {
  float: right;
}

.btn:hover {
  color: #333;
}

.main {
  padding-top: 80px;
}

.title-parent {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 250px;
  padding-bottom: 250px;
  vertical-align: middle;
}

.theme-title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.theme-text {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.iphone {
  width: 100%;
  height: 100%;
  background-color: #74cfae;
  padding-top: 50px;
}

.iphone-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iphone-img{
  font-size:0;
}

.iphone-box {
  color: #fff;
  text-align: center;
  margin-left: 100px;
}

.iphone-title {
  font-size: 24px;
}

.iphone-text {
  font-size: 20px;
  width: 650px;
  line-height: 26px;
  word-break: break-all;
  margin-top: 35px;
}

.work {
  background-color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 70px;
}

.work-title {
  text-align: center;
  font-size: 24px;
  color: #333;
}

.work-img-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 40px;
}

.work-img {
  margin-left: 100px;
  margin-top: 80px;
  transition: 0.3s;
  opacity: 0.7;
}

.work-img a {
  display: inline-block;
}

.work-img:hover {
  opacity: 1;
}

.work-img:nth-child(3n+1) {
  margin-left: 0;
}

.work-img:nth-child(-n+3) {
  margin-top: 0;
}

.work-text-parent {
  display: flex;
  margin-top: 90px;
  justify-content: center;
  align-items: center
}

.work-text {
  font-size: 22px;
  color: #333;
  width: 630px;
  margin-right: 90px;
  text-align: center;
  line-height: 26px;
}

.Email {
  display: inline-block;
}

.skills {
  width: 100%;
  height: 100%;
  background-color: #4e4e4e;
  padding-top: 70px;
  padding-bottom: 100px;
}

.skills-title {
  font-size: 24px;
  text-align: center;
  color: #fff;
}

.skills-parent {
  display: flex;
  margin-top: 70px;
  justify-content: center;
}

.skills-circle {
  margin-left: 180px;
  text-align: center;
}

.skills-circle:first-child {
  margin-left: 0;
}

.skills-item {
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
}

.skills-item:first-child {
  margin-left: 0;
}

.sns {
  background-color: #f2f2f2;
  padding-top: 200px;
  padding-bottom: 200px;
}

.sns-parent {
  display: flex;
  justify-content: center;
}

.sns-box{
  display: inline-block;
  transition:0.3s;
}

.sns_icon {
  font-size: 50px;
  color: #74cfae;
  width: 185px;
  padding: 20px 0;
  text-align: center;
}

.sns-box:hover {
  background-color: #fff;
}

.footer {
  width: 100%;
  background-color: #74cfae;
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer-text {
  color: #fff;
  text-align: right;
}

/* TABレスポンシブ */
/*画面幅が1199pxまでなら、変化させる*/
@media screen and (max-width: 1199px) {

  .inner {
    width: 97%;
  }

  .d-block {
    display: block;
  }

  .center {
    text-align: center;
  }

  .margin {
    margin-left: 0;
    padding-bottom: 25px;
  }

  .iphone-title {
    margin-top: 20px;
  }

  .tab-text {
    width: auto;
  }

  .img-margin {
    margin-top: 0;
    margin-left: 0;
    font-size:0;
  }

  .tab {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .work-img:nth-child(3n+1) {
    margin-top: 80px;
  }

  .work-img:first-child {
    margin-top: 0;
  }

  .work-text-tab {
    margin-top: 80px;
    text-align: center;
  }

  .text-margin {
    margin-right: 0;
  }

  .Email-margin {
    margin-top: 40px;
  }

  .skills-circle-margin {
    margin-left: 0;
    margin-top: 80px;
  }

  .skills-circle-margin:first-child {
    margin-top: 0;
  }
}

/* SPレスポンシブ */
/*画面幅が767pxまでなら、変化させる*/
@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }

  .d-block-sp {
    display: block;
  }

  .title-sp {
    padding-top: 160px;
    padding-bottom: 130px;
  }

  .sns-sp {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .sns-sp li {
    display: block;
  }

  .sns_icon_sp {
    width: 100%;
  }

  .sp-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .hamburger-menu {
    display: block;
    float: right;
    padding: 10px;
    width: 30px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .btn-line {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #ddd;
  margin-top: 4px;
  }

  .btn-line:first-child {
    margin-top: 0;
  }
}